@import './partials/variables';

@font-face {
    font-family:"Nexa-Heavy";
    src: url('../font/nexa/Nexa-Heavy.ttf');
    font-family: "Nexa-ExtraLight";
    src: url('../font/nexa/Nexa-ExtraLight.ttf');
}

body {
    margin: 0px;
    padding: 0px;
}

.navegacion{
    width: $ancho;
    height: 60px;
    background-color: $blanco;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #chek-menu ,label{
        display: none;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .logo{
            height: 60px;

        }
    }


    .nav-item {
        display: flex;
        list-style: none;
        height: $alto;
        width: $ancho/2;
        align-items: center;
        margin-right: 20%;
        margin-top: 0%;

        .item{
            display: flex;
            align-items: center;
            height: 130%;
            padding-left: 20px;
            padding-right: 20px;
            transition: all .4s ease;

            a{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                width: 100px;
                color: $azul;
                font-family: $franklin;
                font-size: large;
                text-decoration: none;
            }
        
        &:hover{
            background-color: $azul;

            a{
                color: $blanco;
            }
        }
        }
    }
}

.GiordanoCam{
    width: $ancho;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/46538-camiones.jpg');
    background-size: cover;

    .logo-div{
        display: flex ;
    align-items: center;
    justify-content: center;

        .img-1{
            display: flex; 
            width: 150px;
            margin-top: 20px;
        }
    }

    .div-h1{

        .h1 {
            text-align: center;
            color: $blanco;
            font-family:$nexa ;
            font-size:400%;
            margin-top: 10px;
        }
    }

    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        button {
            padding: 15px;
            border-radius: 15px;
            border-color: $blanco;
            background-color: transparent;
            color: $blanco;
            font-family: $franklin;
            font-size: x-large;
            transition: all 0.4s ease;

            &:hover{
                background-color: $blanco;
            color: black;
            }
        }         
    }

    .logos{
        display: flex;
        justify-content: center;

        .img-logos{
            display: inline-flex;
            width: 150px;
            height: 150px;
            flex-direction: row;
            margin:13px;
            padding: 12px;
            border-radius: 15px;
            background-color: $gris;
            color: $blanco;
        }
    }
}

.h1-destacados{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.destacados{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.contacto-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 550px;
        border-radius: 10px;
        background-color: $gris;
        margin-top: 15px;
        width: 40%;
        color:$azuloscuro;

        h2{
            margin-top: 20px;
            font-family: $franklin;
            font-size: xx-large;
        }

        input{
            margin:10px;
            width: 400px;
            height: 40px;
            border-radius: 10px;
            margin:20px;
            }

        p{
            margin-top: 50px;
            font-family:Arial, Helvetica, sans-serif
        }

        #mensaje{
            height: 80px;
        }

        button {
            width: 200px;
            height: 50px;
            border-radius: 15px;
            color: $blanco;
            background-color: $azul;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.4s ease;

            &:hover{
                background-color: $azulclaro;
            }
        }

        a{
            color:$azul;
        }

        .redes{
            margin-top: 50px ;

            .bxl-whatsapp{
                color: $blanco;
                background-color: rgb(49, 178, 49);
                border-radius: 5px;
            }

            .bxl-instagram{
                color: $blanco;
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
                border-radius: 5px;
            }

            .bxl-facebook{
                color: $blanco;
                background-color: $azul;
                border-radius: 5px;
            }
        }
    }
}

.qs{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: $franklin;
    color:$azuloscuro;
}

.section{
    display: flex;
    margin-top: 50px;

    
    .nosotros{
        display: flex;
        width: $ancho;
        height: 500px;
        background-color:$azul ;
        
        img{
            width: $ancho/2;
            height: 450px;
            margin-left: 5rem;
            margin-top: 25px;
            object-fit: cover;
        }

        p{
            display: flex;
            margin-top: 50px;
            margin-left: 30px;
            margin-right: 30px;
            color: white;
            line-height: 35px;
            text-align: center;
            font-family:Arial, Helvetica, sans-serif;
            font-size: x-large;
        }
    }
}

.ubicacion{
    width: $ancho;
    height: 550px;
    margin-top: 85px ;
    text-align: center;
    font-family: $franklin;
    color: $azuloscuro;

    iframe{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

a {
    color: white;
    text-decoration: none;
}

.repuestos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h2{
        margin-bottom: 50px;
        font-family: $franklin;
        font-size:300%;
        color: $azuloscuro;
    }

}

.paginacion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.acoplados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h2{
        font-family: $franklin;
        font-size:300%;
        color: $azuloscuro;
    }
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;

    h1{
        font-family: $franklin;
        font-size:300%;
        color: $azuloscuro;
    }

    p{
        font-family:Arial, Helvetica, sans-serif;
        color: $gris;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;

        input{
            width: 400px;
            height: 30px;
            margin: 10px;
        }

        button{
            margin-top: 10px;
            height: 50px;
            width: 100px;
            color: $blanco;
            background-color: $azul;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.4s ease;

            &:hover{
                background-color: $azulclaro;
            }
        }

    }
}

.footer{
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: $ancho;
    height: 50px;
    margin-top: 30px;
    background-color:$azul;
    color: $blanco;
    font-family:Arial, Helvetica, sans-serif ;
};

@import './partials/queries';