
//colores
$blanco: rgb(255, 255, 255);
$azul: rgb(58, 93, 174);
$azulclaro:rgb(108, 128, 175);
$azuloscuro:rgb(24, 43, 87);
$gris:rgba(216, 216, 216, 0.903);

//dimensiones
$alto:100%;
$ancho:100%;

//fuentes
$franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$nexa:"Nexa-ExtraLight" ;


